
<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5><strong>Site Haritası</strong></h5>
                <hr />

                <p>
                    <a href="/About/Index"><span class="glyphicon glyphicon-info-sign"></span> Hakkımızda</a><br />
                    <a href="/Home/MostLiked"><span class="glyphicon glyphicon-heart"></span> En Beğenilenler</a><br />
                    <a href="#"><span class="glyphicon glyphicon-list"></span> Yazılar</a>
                </p>

            </div>
            <div class="col-lg-4 text-center">
                <h5><strong>Bloğum</strong></h5>
                <hr />
                <p>Tüm hakları saklıdır. &copy; NA-203 Blog @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5><strong>E-bülten</strong></h5>
                <hr />
                <div col-md-10>
                    <p>Sitemizdeki yeniliklerden haberdar olmak için kayıt   olabilirsiniz.</p>
                    <div class="input-group">
                        <input type="email" name="email" value="" placeholder="E-Mail Adresiniz" class="form-control" />
                        <span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> Kaydet</button> </span>
                    </div>
                </div>


            </div>

        </div>
    </footer>

</div>