
@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-lg-12 col-lg-offset-2" style="margin-top:160px">
    <div class="col-md-8 col-md-offset-2">

        <h1><span class="glyphicon glyphicon-remove-circle"></span> Yetkisiz Erişim</h1>
        <p>
            Bu sayfaya erişiminiz bulunmamaktadır. <br /><br />
            @Bootstrap.LinkButton("/Home/Index", "primary", "", "", "home", "Anasayfaya Git")
        </p>
    </div>
</div>

